@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo {
    font-size: 1em;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

header .logo .red {
    color: red;
    font-weight: 700;
    font-size: 1.5em
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header .search-container input {
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    width: 400px;
    border-radius: 20px;
}

.character-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px 0;
}

.card {
    background-color: #fff;
    margin: 0 15px;
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    color: white;
    height: 180px;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-top: 1rem;
    font-size: 1.2em;
}

.card p {
    font-size: 14px;
    font-weight: 300;
}

#cap-card {
    background: rgb(70,140,210);
    background: linear-gradient(119deg, rgba(70,140,210,1) 0%, rgba(148,90,180,1) 70%);
    position: relative;
}

#cap-card .card-img {
    position: absolute;
    left: -20px;
    top: -10px;
}

#cap-card .card-img img {
    width: 140px;
    height: 220px;
}


#iron-card {
    background: rgb(230,76,55);
    background: linear-gradient(119deg, rgba(230,76,55,1) 0%, rgba(240,147,20,1) 70%);
    position: relative;
}


#iron-card .card-img {
    position: absolute;
    left: -20px;
    top: -10px;
}

#iron-card .card-img img {
    width: 220px;
    height: 220px;
}


#black-card {
    background: rgb(70,140,210);
    background: linear-gradient(311deg, rgba(70,140,210,1) 0%, rgba(148,90,180,1) 70%);
    position: relative;
}


#black-card .card-img {
    position: absolute;
    left: -10px;
    top: -30px;
}

#black-card .card-img img {
    width: 160px;
    height: 240px;
}

#spider-card {
    background: rgb(221,75,65);
    background: linear-gradient(119deg, rgba(221,75,65,1) 0%, rgba(60,145,210,1) 70%);
    position: relative;
}


#spider-card .card-img {
    position: absolute;
    left: 0px;
    top: -50px;
}

#spider-card .card-img img {
    width: 250px;
    height: 240px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}